*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.block{
    border-radius: 0.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
    min-width: 500px;
    background-color: #67a4f4;
    margin: 0.5rem;
    min-height: 10rem;
}

#photo{
    width:40%;
    margin: 0;
    border-radius: 0.5rem;
}

.header{
    display: flex;
    justify-content: space-between;
}
.titles{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
h1{
    font-family: Arial;
    color: white;
    
}